<div class="article">
    <h2>Early Life</h2>
    <p>Claude Monet also known as Oscar-Claude Monet or Claude Oscar Monet (November 14, 1840 – December 5, 1926) was a
        founder of French impressionist painting, and the most consistent and prolific practitioner of the movement's
        philosophy of expressing one's perceptions before nature, especially as applied to plein-air landscape painting.
        The
        term Impressionism is derived from the title of his painting Impression, Sunrise.

    </p>
</div>

<div class="article">
    <h2>Paris</h2>
    <p>When Monet traveled to Paris to visit The Louvre, he witnessed painters copying from the old masters. Monet,
        having
        brought his paints and other tools with him, would instead go and sit by a window and paint what he saw. Monet
        was
        in Paris for several years and met several painters who would become friends and fellow impressionists. One of
        those
        friends was Édouard Manet.

    </p>
</div>

<div class="article">
    <h2>Later Life</h2>
    <p>After several difficult months following the death of Camille on 5 September 1879, a grief-stricken Monet
        (resolving
        never to be mired in poverty again) began in earnest to create some of his best paintings of the 19th century.
        During the early 1880s Monet painted several groups of landscapes and seascapes in what he considered to be
        campaigns to document the French countryside. His extensive campaigns evolved into his series' paintings.

    </p>
</div>

<div class="article">
    <h2>Death</h2>
    <p>Monet died of lung cancer on December 5, 1926 at the age of 86 and is buried in the Giverny church cemetery.
        Monet
        had insisted that the occasion be simple; thus about fifty people attended the ceremony.

    </p>
</div>